---
import "../styles/prism-custom.css";

import Layout from '../layouts/Layout.astro';
import UrlInputForm from '../components/UrlInputForm.astro';
import ConfigInputs from '../components/ConfigInputs.astro';
import JsonPreview from '../components/JsonPreview.astro'
---

<Layout title="Calendar URLs // jsoon">
  <div class="py-6">
    <ConfigInputs />            
    <UrlInputForm />            
    <JsonPreview/>              
  </div>
</Layout>
